In [12]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

model_data = pd.read_csv('dataset/train_clean.csv')

In [13]:
model_data_clean = model_data[pd.notnull(model_data['Num_of_Delayed_Payment'])]
X = model_data_clean.drop(columns=['Credit_Score','ID','Month','Name','Payment_Behaviour'])
y = model_data_clean['Credit_Score']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [14]:
X_train

,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Num_Credit_Inquiries,Outstanding_Debt,Credit_Utilization_Ratio,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Monthly_Balance
299,37,12,15566.02,1.423168e+03,8,5,32,4,12,17.0,9.0,1693.95,29.706454,1,43.070520,80.484420,308.761894
225,37,10,39641.54,3.007462e+03,10,8,25,6,61,16.0,8.0,2258.73,32.413447,1,172.382527,254.021120,164.342519
106,39,10,8701545.00,5.191287e+02,6,5,32,7,21,9.0,9.0,2602.69,38.465415,1,36.548197,30.471806,264.892872
373,43,6,81842.28,6.810190e+03,10,9,25,9,20,19.0,11.0,3053.16,28.643129,1,574.065798,165.073456,181.879746
294,36,12,15566.02,1.423168e+03,8,5,32,4,17,20.0,7.0,1693.95,24.251028,1,43.070520,169.620980,219.625334
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,36,14,17251.38,1.654615e+06,6,3,7,7,8,13.0,6.0,2431.64,29.419722,1,57.351165,0.000000,273.373540
150,32,4,19300.34,1.512362e+03,6,7,17,5,51,19.0,7.0,2430.21,28.058846,1,49.572062,173.042551,218.621554
286,19,3,72559.36,6.284613e+03,4,5,17,4,14,22.0,1.0,1173.70,38.355853,0,215.839171,205.720990,456.901173
176,20,4,106733.13,8.873427e+03,4,4,1,0,7,6.0,1.0,76.23,39.243640,0,0.000000,384.763725,792.579025
186,34,13,57983.12,4.720927e+03,9,8,31,8,53,21.0,1044.0,3532.83,37.873642,1,200.432613,193.873375,327.786678

In [15]:
X_test

,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Num_Credit_Inquiries,Outstanding_Debt,Credit_Utilization_Ratio,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Monthly_Balance
88,33,3,88640.24,7.266687e+03,3,6,1,2,4,2.0,3.0,950.36,34.702837,0,135.173371,279.618622,561.876674
115,37,4,25546.26,2.415855e+06,8,7,14,5,15,13.0,5.0,758.44,39.333488,1,101.328637,189.815861,230.441001
372,43,6,81842.28,6.810190e+03,10,9,25,9,20,16.0,9.0,3053.16,27.926610,1,574.065798,332.913124,34.040078
208,32,11,43070.24,3.622187e+03,3,3,18,1,15,8.0,4.0,1233.10,28.361166,1,30.576085,50.509149,521.133433
199,30,14,34290.12,2.697510e+03,9,8,25,7,52,10.0,9.0,2686.81,39.280296,99,185.111983,248.069957,106.569060
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,30,2,87215.68,7.489973e+03,2,6,8,2,2,5.0,0.0,680.77,33.960034,0,121.682017,799.374361,117.940956
61,23,8,114838.41,9.843868e+03,2,5,7,3,14,8.0,3.0,1377.74,27.626325,99,226.892792,212.235602,785.258356
100,39,10,8701545.00,5.191287e+02,6,5,32,7,23,9.0,6.0,2602.69,24.523164,1,36.548197,13.066210,272.298468
154,41,12,19514.88,1.828240e+03,7,5,17,0,30,12.0,2.0,881.40,26.084543,99,0.000000,50.143727,382.680273
413,43,5,123732.32,1.041603e+04,4,3,11,0,18,8.0,3.0,1154.46,31.114766,0,0.000000,170.851494,1120.751173

In [16]:
y_train

299    0
225    0
106    0
373    1
294    0
      ..
415    1
150    0
286    1
176    1
186    1
Name: Credit_Score, Length: 316, dtype: int64

In [17]:
y_test

88     2
115    1
372    1
208    1
199    0
      ..
365    2
61     2
100    0
154    1
413    1
Name: Credit_Score, Length: 79, dtype: int64

In [18]:
model = DecisionTreeClassifier()
model.fit(X_train, y_train)
model

DecisionTreeClassifier()

In [19]:
predictions = model.predict(X_test)

predictions

array([1, 1, 1, 1, 0, 2, 0, 2, 0, 1, 2, 1, 0, 0, 1, 1, 0, 2, 1, 1, 1, 1,
       1, 1, 2, 0, 1, 0, 2, 1, 0, 2, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 0, 1, 0, 2, 1, 1,
       1, 1, 1, 1, 0, 2, 0, 0, 2, 2, 0, 0, 1])

In [27]:
score = accuracy_score(y_test, predictions)
score

0.7468354430379747